* {
     font-family: "Proxima Nova";
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

p, li {
     font-family: Helvetica;
     text-align: justify;
     font-size: 16px;
     text-shadow: none;
}

ul li, ol li {
     line-height: 1.8;
}

ol li {
     counter-increment: list-counter;
     position: relative;
}

a {
     text-decoration: none;
     font-weight: bold;
     color: #1B3A4B;
}

body {
     background: linear-gradient(135deg, #FF4D4D 0%, #D32F2F 100%);
}

/* STORIES SECTION */
.stories {
     margin-top: 150px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.story {
     width: 500px;
     height: 700px;
}

.story-img img {
     width: 200px;
     height: 400px;
}

.story-text h2 {
     font-size: 50px;
}

.story {
     display: flex;
     gap: 20px;
}
